* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root, html[data-theme='dark'] {
    --white: #fff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-500: #7C7C8A;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;

    --green-300: #00b37e;
    --green-500: #00875f;

    --red-500: #F75A68;
}

:root, html[data-theme='light'] {
    --white: #fff;
    --gray-800: #e1e1e6;
    --gray-900: #c4c4cc;
    --gray-700: #d2d2da;
    --gray-600: #c4c4cc;
    --gray-500: #323238;
    --gray-400: #29292e;
    --gray-300: #202024;
    --gray-100: #121214;

    --green-300: #00b37e;
    --green-500: #00875f;

    --red-500: #F75A68;
}

* {
    transition: background 0.4s;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-500);
}

body {
    background: var(--gray-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}